[user]
	name = IKEDA, Yoshifumi
	email = ikd.ysfm@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/Yoshifumi/.gitignore_all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
