[user]
	name = IKEDA, Yoshifumi
	email = ikd.ysfm@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/Yoshifumi/.gitignore_all
	editor = vim
	autocrlf = input
	safecrlf = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	br = branch
	di = diff
	dic = diff --cached
	ad = add
	cm = commit
	co = checkout
	mg = merge
	rb = rebase
	st = status -sb
[push]
	default = simple
